body{
    font-family: 'Raleway', sans-serif;
}
html{
    background: rgb(34, 34, 34); 
    color: rgb(222, 222, 222);
    min-height: 100vh;
}
h1{
    text-align: center;
    margin: 15px;
    margin-top: 0px;
}
h2{
    text-align: center;
    margin: 15px;
    margin-top: 0px;
}
div{
    border-bottom: 2px solid rgb(88, 88, 88);
}
button{
    align-self: flex-end;
    background-color: rgb(88, 88, 88);
    color: rgb(186, 186, 186);
    border-color: rgb(38, 45, 76);
    border-radius: 10px;
}
button:hover{
    background-color: rgb(69, 61, 178);
}
button:active{
    background-color: rgb(57, 51, 143);
}
input{
    background-color: rgb(34, 34, 34);
    border: 0px;
    color: rgb(222, 222, 222);
    margin-right: 5px;
}
input:focus{
    border: 0px;
    outline: none;
    background-color: rgb(67, 67, 67);
}
li{
    cursor: pointer;
}
.scroll{
    overflow: scroll;
    height: 84%;
    border: 0px;
}
.list--title{
    height: 15%;
    max-height: .75in;
}
.list__bottom--title{
    text-align: left;
}
.list__horazontal--left{
    width: 50%;
    border-right: 1px solid rgb(88, 88, 88);
    border-left: 2px solid rgb(88, 88, 88);
}
.list__horazontal--right{
    width: 50%;
    border-right: 2px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
}
.list__horazontalType2--list{
    width: 33.3333333333%;
}
.list__horazontal{
    height: 75%;
    display: flex;
    border: initial;
}
.list__horazontalType2{
    display: flex;
    border: initial;
    border-right: 2px solid rgb(88, 88, 88);
    border-left: 2px solid rgb(88, 88, 88);
    min-height: 12vh;
}
.fullBorder{
    border:2px solid rgb(88, 88, 88);
}
.list__bottom--titleBox{
    border:2px solid rgb(88, 88, 88);
    border-top: 0px;
}
.list__bottom--noBorder{
    border:0px;
}
.list__inputs{
    border: 0px;
    text-align: right;
    border: 0;
}
.wholeScreen{
    height: 90vh;
    border: 0ch;
}
@media screen and (max-width: 600px){
    .list__horazontal--left{
        width: initial;
        border-right: 2px solid rgb(88, 88, 88);
    }
    .list__horazontal--right{
        width: initial;
        border-left: 2px solid rgb(88,88,88);
    }
    .List__horazontal{
        display: block;
        height: initial;
    }
}
@media screen and (max-height: 440px){
    .list__horazontal--left{
        width: initial;
        border-right: 2px solid rgb(88, 88, 88);
    }
    .list__horazontal--right{
        width: initial;
        border-left: 2px solid rgb(88,88,88);
    }
    .List__horazontal{
        display: block;
        height: initial;
    }
}